<!-- parte de listar proyectos propios -->
<div class="container">
  <div class="row">
    <ng-container *ngFor="let project of projects; let i = index">
    <div class = "col-4" style="margin: 0 auto; padding-left: 70px">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"> {{ project["name"] }}</h5>
          <p class="card-text">{{ project["description"] }}<br>
            <a style="float:right">- {{ project["author"] }}</a><br>{{ project["created_at"] }}  
          </p>
          <a href="{{ project['repository'] }}" class="btn btn-primary">Repository</a> <i (click)="delete(project['name'])" class="btn btn-secondary" style="float:right;">Delete</i>
        </div>
      </div>
    </div>
      <div class="w-100" *ngIf="i % 2 == 1"><br></div>
    </ng-container>
  </div>
</div>
<br><br>

<!-- parte de agregar nuevo proyecto -->
<div class ="newproject" style="margin:0 auto;">             
<div class="form-signin" style="margin:0 auto;">
<form [formGroup]="form" (submit)="submit()">
    <h1 class="h3 mb-3 fw-normal">Enter a New Project</h1>
  
      <input formControlName="name" type="text" class="form-control" placeholder="Project Name" required>
      <input formControlName="description" type="text" class="form-control" placeholder="Description" required>
      <input formControlName="repository" type="text" class="form-control" placeholder="Repository Address" required>
    <br>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
  </form>
</div>

</div>