<!-- First part: List the user's projects (GET)-->


<!-- Second part: Allow new Project submission (POST)-->
<div class="container mt-5">
    <div class = "row">
        <span class="title">Create Project </span>
        <form [formGroup]="projectForm" (ngSubmit)="addProject()">
            <label for="name">Name:</label><br>
            <input type="text" formControlName="name" id="name" name="name"><br>

            <label for="description">Description:</label><br>
            <input type="text" formControlName="description" id="description" name="description"><br>

            <label for="repository">Repository:</label><br>
            <input type="text" formControlName="repository" id="repository" name="repository"><br>  

            <input type="submit" value="Aceptar">

        </form>
    </div>
</div>