<!-- parte de listar proyectos propios -->
<div class="container">
    <div class="row">
      <ng-container *ngFor="let project of projects; let i = index">
      <div class = "col-4" style="margin: 0 auto; padding-left: 70px">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"> {{ project["name"] }}</h5>
            <p class="card-text">{{ project["description"] }}<br>
              <a style="float:right">- {{ project["author"] }}</a><br>{{ project["created_at"] }}  
            </p>
            <a href="{{ project['repository'] }}" class="btn btn-primary">Repository</a>
          </div>
        </div>
      </div>
        <div class="w-100" *ngIf="i % 2 == 1"><br></div>
      </ng-container>
    </div>
  </div>  